/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

html {
  --color-white: #f0f0f5;
  --color-black: #1d1d21;
  --color-black-light: #202026;
  --color-text: var(--color-white);
  --color-background: var(--color-black);

  --max-content-width: 70rem;

  font-size: calc(60% + 0.8vmin);
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

:root {
  background-color: var(--color-background);
  background-image: url('https://i.pinimg.com/originals/07/f7/27/07f72772fee4f51adcf8f9aa9fa1a8e0.gif');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Lexend Zetta', sans-serif;
  color: var(--color-text);
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */

body {
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-width: var(--max-content-width);
  padding: 1rem;
  min-height: 100%;
  height: 100%;
  padding-bottom: 10rem;
}

header,
main {
  margin-bottom: 2rem;
}

header {
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1rem 0;
  max-height: 10rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

input {
  color: var(--color-background);
  padding: 0.8rem 1rem;
}

button {
  color: var(--color-background);
  padding: 0.8rem 1rem;
  cursor: pointer;
}

/* ------------------------------------------- */
/*                   CHAT                      */
/* ------------------------------------------- */
#chat {
  margin: 0 auto;
  color: var(--color-background);
  background-color: var(--color-text);
  min-height: 30rem;
  max-height: 40rem;
  min-width: 20rem;
  width: 50%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: hidden;
  border-radius: 1rem;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#chat ol {
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  height: 20rem;
  overflow-y: auto;
}

#chat ol li {
  color: var(--color-black);
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  align-self: flex-start;
  transition: 0.2s;
}

#chat ol li.newMessage {
  animation: fadeIn 0.1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-100px) skew(10deg);
    font-weight: bold;
    color: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
  90% {
    transform: translateX(10px) skew(0deg);
    font-weight: bold;
    color: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
  }
  100% {
    font-weight: normal;
    color: black;
  }
}

#chat form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
}

#chat form input[type='text'] {
  background-color: transparent;
  min-width: 0;
}

#chat form button {
  background-color: transparent;
  color: var(--color-black);
  transition: 0.2s;
  min-width: 6rem;
  text-align: center;
}

#chat form button:hover,
#chat form button:focus {
  color: white;
  background: linear-gradient(
    -45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
}

#chat form > * {
  border: 0;
}

#typing {
  color: var(--color-background);
  margin: 0.3rem 1rem;
  font-style: italic;
  opacity: 0.7;
  font-size: 0.8rem;
}

/* footer */
footer a:hover {
  background: linear-gradient(to bottom, #51eaa3 3em, transparent 0%);
  width: max-content;
  color: black;
}
